# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Dependency directories
jspm_packages/
bower_components/

# IDE/Editor specific files
.vscode/
.idea/
.DS_Store